@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:ital,wght@0,300;1,300&display=swap');


h2{
    color: #FFA101;
    font-family: Gruppo;
    font-weight: bold;
}

p{
    font-family: Montserrat;
    color: #B3DEE5;
}

.programmation{
    background-color: #00283A;
}

hr{
    color: #FFA101;
}

ul{
    list-style: none;
}

h3{
    color: #FFA101;
    font-family: Gruppo;
    font-weight: bolder;
}

label{
    color: #B3DEE5;
    font-family: Montserrat;

}

.button{
    color: #8C1C13;
    background-color: #FFA101;
    border: none;
    border-radius: 10px;
}
